.form-container {
  display: inline-block;
  width: 350px;

  & .button-container {
    width: 100%;
    margin-block: 15px;
  }

  & .google-sign-in {
    margin-block: 30px;
  }

  & .form-input {
    background-color: #fff;
    border: 1px solid rgb(107, 105, 105);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 90%;
    text-transform: none;
    height: 50px;
    width: 100%;
    margin-block: 10px;
    padding: 0 35px 0 35px;
    display: block;
  }

  & .text-sm {
    font-size: 85%;
    color: grey;
    text-decoration: underline;

    &:hover {
      color: rgb(68, 87, 174);
    }
  }
}
